form.mod-newsletter div {
    margin: 10px 0;
    text-align: center;
}
form.mod-newsletter fieldset {
    margin: 10px;
    text-align: center;
    padding: 0;
}

#mod-subscriber-termslink {
    font-weight: bold;
}

#newsletter-terms-container {
	border: 1px solid transparent;
	display: inline;
	padding: 3px 3px 0;
	margin: 0px;
}

.preloader {
	background: url('../../../media/com_newsletter/images/preloader.gif') right top no-repeat;
	line-height: 18px;
	color: #888;
	min-height: 18px;
	min-width: 18px;
	display: block;
}
