form.mod-newsletter div {
    margin: 10px;
    text-align: center;
}
form.mod-newsletter fieldset {
    margin: 10px;
    text-align: center;
    padding: 0;
}

#mod-subscriber-termslink {
    font-weight: bold;
}

#newsletter-terms-container {
	border: 1px solid transparent;
	display: inline;
	padding: 3px 3px 0;
	margin: 0px;
}
