cfg.name=newsletter
cfg.versionDir=v1_50
cfg.buildDir=packages
cfg.localhostRoot=../joomla
cfg.xmlfile=files.txt

ftp.server=
ftp.user=
ftp.password=
ftp.dir=

rsync.server=
rsync.user=
rsync.dir=
    